*.sln
*.suo
*.njsproj

server/node_modules/*
settings/*
server/.ntvs_analysis.dat
server/npm-debug.log
server/bin/
server/obj/
server/.ntvs_analysis.dat.tmp
server/logs/log.txt*
server/logs/error_log*
server/*.DotSettings.user
